@model CuaHang.Models.ThongTinChiTietHoaDon

<tr class="invoice-detail-row">
    <td>
        @Html.DropDownListFor(m => m.ProductID, (SelectList)ViewBag.Products, "Chọn sản phẩm", new { @class = "form-control product-dropdown" })
        @Html.ValidationMessageFor(m => m.ProductID, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(m => m.Quantity, new { htmlAttributes = new { @class = "form-control quantity" } })
        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
    </td>
    <td>
        <input type="text" class="form-control unitPrice" readonly value="@Model.TotalPrice / @Model.Quantity" />
    </td>
    <td>
        <span class="totalPrice">@Model.TotalPrice.ToString("0.00")</span>
    </td>
    <td>
        <button type="button" class="btn btn-danger remove-row">Xóa</button>
    </td>
</tr>

