@model List<CuaHang.Models.ThongTinHoaDon>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Danh sách hóa đơn";
}

<br>
<h2>Danh sách hóa đơn</h2>
<a id="addInvoiceButton" class='k-button' href='@Url.Action("Index", "ThemHoaDon")'>
    <span class="k-icon k-i-plus"></span>
</a>

@(Html.Kendo().Grid<CuaHang.Models.ThongTinHoaDon>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.InvoiceID).Title("Mã số hóa đơn").Width(150);
        columns.Bound(c => c.Customer.CustomerName).Title("Tên khách hàng").Width(250);
        columns.Bound(c => c.TotalPrice).Title("Tổng giá").Width(150);
        columns.Command(command =>
        {
            command.Custom("Details").Click("viewInvoiceDetails").Text("Chi Tiết").HtmlAttributes(new { @id = "ChiTiet", @class = "button" });
            command.Custom("Edit").Click("editInvoice").Text("Thay đổi").HtmlAttributes(new { @id = "ThayDoi", @class = "button" });
            command.Custom("Delete").Click("deleteInvoice").Text("Xóa").HtmlAttributes(new { @id = "Xoa", @class = "button" });
        }).Title("Hành động").Width(300);
    })
    .Pageable()
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(c => c.InvoiceID))
        .Read(read => read.Action("GetInvoices", "HoaDon"))
    )
)

@section scripts {
    <script>
        $(document).ready(function() {
            $("#addInvoiceButton").kendoButton({
                icon: "plus",
                themeColor: "primary"
            });

            $("#ChiTiet").each(function() {
                $(this).kendoButton({
                    themeColor: "info"
                });
            });

            $("#ThayDoi").each(function() {
                $(this).kendoButton({
                    themeColor: "info"
                });
            });

            $("#Xoa").each(function() {
                $(this).kendoButton({
                    themeColor: "error"
                });
            });
        });

        function viewInvoiceDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var url = '@Url.Action("Index", "ChiTietHoaDon", new { id = "__id__" })'.replace("__id__", dataItem.InvoiceID);
            window.location.href = url;
        }

        function editInvoice(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var url = '@Url.Action("Index", "ChinhSuaHoaDon", new { id = "__id__" })'.replace("__id__", dataItem.InvoiceID);
            window.location.href = url;
        }

        function deleteInvoice(e) {
            e.preventDefault();
            if (confirm('Bạn có muốn xóa không')) {
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var url = '@Url.Action("Index", "XoaHoaDon", new { id = "__id__" })'.replace("__id__", dataItem.InvoiceID);
                window.location.href = url;
            }
        }
    </script>
}
