@model CuaHang.Models.ThongTinChiTietHoaDon
@using Kendo.Mvc.UI

@{
    var uniqueId = Guid.NewGuid().ToString();
}

<tr class="invoice-detail-row">
    <td>
        @(Html.Kendo().DropDownListFor(m => m.ProductID)
            .Name($"InvoiceDetails[{ViewBag.Index}].ProductID")
            .BindTo((SelectList)ViewBag.Products)
            .OptionLabel("Chọn sản phẩm")
            .HtmlAttributes(new { @class = "form-control product-dropdown" }))
        @Html.ValidationMessageFor(m => m.ProductID, "", new { @class = "text-danger" })
    </td>
    <td>
        @(Html.Kendo().NumericTextBoxFor(m => m.Quantity)
            .Name($"InvoiceDetails[{ViewBag.Index}].Quantity")
            .HtmlAttributes(new { @class = "form-control quantity" }))
        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
    </td>
    <td>
        <input type="text" class="form-control unitPrice" readonly value="@Model.TotalPrice / @Model.Quantity" />
    </td>
    <td>
        <span class="totalPrice">@Model.TotalPrice.ToString("0.00")</span>
    </td>
    <td>
        <button type="button" class="k-button k-danger remove-row">Xóa</button>
    </td>
</tr>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#ProductID_@uniqueId").kendoDropDownList();
            $("#Quantity_@uniqueId").kendoNumericTextBox();
        });
    </script>
}
